<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<p>Here is a quick run down of how to pull in content with jQuery's ajax methods.</p>

<p><a class="get" href="#">Click here to load some text with a get request </a> </p>

<p>Put something in this box to send it to the server with a post request
<input name="user-input"> <button>Go</button>
<p>


<script>
    $('.get').on('click', function(){
        var link = $(this)

        $.get('/get', function(response){
            link.after(response)
        })
    })

    $('button').on('click', function(){
        var button = $(this)
        var data = {
            // this is just an object that sets up what key/value pairs
            // to send to the server. Notice it can be totally different
            // than what's in the html markup.
            user_data: $('input').val()
        }

        $.post('/post', data, function(response){
            button.after(response)
        })
        .error(function(r){
            // post requests obscure errors, so it's a good idea
            // to attach an error handling method that logs the
            // failure to the console. You can inpsect error messages
            // in the response's responseText attribute
            console.log(r)
        })
    })
</script>
